.our-clients-container-section {
  display: flex;
}

.our-clients-container-section-item {
  width: 170px;
  height: 92px;
  cursor: pointer;

  & + & {
    margin-left: 30px;
  }
}

.our-clients-container-section-link {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    .our-clients-container-section-icon {
      fill: #2196f3;
    }
  }
}

.our-clients-container-section-icon {
  fill: rgba(175, 177, 184, 1);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
