.footer-container {
  background: var(--background-color-1);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-flex {
  display: flex;
  margin: 0 auto;
}

.footer-item {
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.footer-contacts-section {
  display: flex;
}

.web-footer {
  color: #ffffff;
}

.logo--light {
  color: var(--background-color-2);
}

.address {
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: var(--main-letter-spacing);
  text-decoration: none;
  padding-bottom: 9px;
  margin-top: 20px;
}
.footer-tel {
  display: block;
  color: var(--p-text-color);
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: var(--main-letter-spacing);
  color: rgba(255, 255, 255, 0.6);
}

.footer-mail {
  display: block;
  color: var(--p-text-color);
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: var(--main-letter-spacing);
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
}

.footer-soc-container {
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  max-width: 206px;
}

.footer-invite {
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0.03em;
  display: flex;
  padding-bottom: 20px;
  padding-top: 12px;
}
.footer-soc-list {
  display: flex;
}

.footer-soc-list-item {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  & + & {
    margin-left: 10px;
  }
}
.footer-soc-list-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-radius: 50%;
    background-color: rgba(33, 150, 243, 1);
  }
}

.footer-soc-list-icon {
  fill: #ffffff;
}

.footer-email {
  width: 358px;
  margin-left: 93px;
}

.footer-email-field {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: transparent;
  padding-left: 16px;
  color: #afb1b8;
}

.E-mail {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 12px;
  position: relative;
}

.subscribe-button {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 28px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 3px;
}

.subscribe-icon {
  position: absolute;
  right: 28px;
}
