.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-size: 26px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo--dark {
  color: var(--primary-text-color);
}

.logo--geometry {
  margin-right: 93px;
}
