.header {
  display: flex;
  align-items: center;
}

.box {
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-link {
  position: relative;
  color: #212121;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  align-items: center;
  padding-bottom: 32px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: currentColor;
}

.header-list-item:not(:last-child) {
  margin-right: 50px;
}

.mail-tel {
  color: var(--p-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  *:not(:last-child) {
    margin-right: 30px;
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.active {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
  box-sizing: border-box;
  margin-left: 300px;
}

.header-contacts-item {
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:not(:last-child) {
    padding-right: 30px;
  }
}

.header-contacts-icon {
  display: flex;
  width: 16px;
  height: 16px;
  fill: currentColor;
  margin-right: 10px;
}
