.portfolio-item-container-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portfolio-item-container {
  background: #ffffff;
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-left: 30px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    transform: translateY(0%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
      1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06),
      0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;

    .text-inside-portfolio {
      transform: translateY(0%);
    }
  }
}

.portfolio-item-container-list-wrap {
  position: relative;
  overflow: hidden;
}

.text-inside-portfolio {
  position: absolute;
  top: 0;
  width: 370px;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
}

.portfolio-card {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-item {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-item-description {
  color: var(--p-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  padding-top: 4px;
}
