.team-member-container {
  background: #ffffff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  &:not(:first-child) {
    margin-left: 30px;
  }
}

.our-team-member-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-member {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
  padding-bottom: 10px;
}

.team-member-position {
  color: var(--p-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: var(--main-letter-spacing);
}

.team-card {
  padding-top: 30px;
  padding-bottom: 16px;
}

.our-team-member-soc-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.our-team-member-soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  border-radius: 50%;
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    fill: #ffffff;
  }
}

.our-team-member-soc-icon {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #ffffff;
  }
}

.our-team-member-soc-list-item + .our-team-member-soc-list-item {
  margin-left: 10px;
}
