:root {
  --primary-text-color: #212121;
  --title-text-color: #212121;
  --p-text-color: #757575;
  --accent-color: #2196f3;
  --background-color-1: #2f303a;
  --background-color-2: #f5f4fa;
  --button-background-color-1: #2196f3;
  --button-background-color-2: #f5f4fa;
  --main-letter-spacing: 0.03em;
}
